*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 20px;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#nb-of-cells {
  width: 125px;
}

.container {
  width: 650px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
  cursor: pointer;
}

.cell {
  border: dotted 1px lightgray;
}

button {
  cursor: pointer;
  padding: 5px;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 0 4px #999;
}

.buttons {
  display: flex;
  gap: 1em;
}

button:hover {
  opacity: 0.7;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.buttons > label {
  align-content: center;
}

.black-btn-active {
  background-color: black;
  color: white;
}

.random-colors-btn-active {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.color-picker {
  width: 107px;
  cursor: pointer;
}

.grid-eraser-mode {
  cursor: crosshair;
}
